{% extends "auth-layout.html" %} {% block content %}
<div class="logo">
  <a>
    <img src="static/images/resource/logo10.png" alt="Job Hunt" />
  </a>
</div>
<div class="col-md-5 mb-4">
  <form action="/login" method="POST">
    {% if msg %}
    <div class="alert alert-warning" role="alert">
      {{ msg }}
    </div>
    {% endif %}
    <h2><small>Login</small></h2>
    <div class="form-row">
      <input
        type="text"
        class="form-control"
        placeholder="Please enter your email address"
        name="email"
        required
      />
    </div>
    <div class="form-row">
      <input
        type="password"
        class="form-control"
        placeholder="Please type your password"
        name="password"
      />
    </div>
    <div class="form-row">
      <button type="submit">Login</button>
    </div>
    <br>
    <div class="form-row">
      <p>
        Don't have an account? 
        <a href="/register">Sign up here</a>
      </p>
    </div>
  </form>
</div>

{% endblock %}
