{% extends "auth-layout.html" %} {% block content %}
<div class="logo">
  <a>
    <img src="static/images/resource/logo10.png" alt="Job Hunt" />
  </a>
</div>
<div class="col-md-5 mb-4">
  <form action="/register" method="POST">
    {% if msg %}
    <div class="alert alert-warning" role="alert">
      {{ msg }}
    </div>
    {% endif %}
    <h2><small>Register</small></h2>
    <div class="form-row">
      <input
        type="text"
        autocomplete="off"
        class="form-control"
        placeholder="Please enter your/company name"
        name="name"
        required
      />
    </div>
    <div class="form-row">
      <input
        type="text"
        autocomplete="off"
        class="form-control"
        placeholder="Please enter your email address"
        name="email"
        required
      />
    </div>
    <div class="form-row">
      <input
        type="password"
        autocomplete="off"
        class="form-control"
        placeholder="Please type your password"
        name="password"
      />
    </div>
    <div class="form-row">
      <select class="form-control" name="user_type" required>
        <option value="">Please select account type</option>
        <option value="personal">Personal</option>
        <option value="company">Company</option>
      </select>
    </div>
    <br>
    <div class="form-row">
      <button type="submit">Register</button>
    </div>
  </form>
</div>

{% endblock %}
